@import url('https://fonts.googleapis.com/css2?family=Ubuntu&display=swap');

body {
    width: 90%;
    max-width: 1200px;
    margin: 0 auto;
    font-family: 'Ubuntu', sans-serif;
    text-align: center;
    background-image: linear-gradient(to right, #3b3939, #554950, #605d73, #547893, #4094a1);
}