@font-face {
    font-family: RegularFont;
    src: url(./Fonts/HindSiliguri-Regular.ttf);
}
body, .header, .hero, .promo, .container{
    margin: 0 auto;
}
a, u{
    text-decoration: none;
  }
  a:visited{
    color: black;
  }
h1, h2{
    font-family: RegularFont;
    font-weight: 700;
    font-size: 96px;
    line-height: 90px;
}
h3{
  font-family: RegularFont;
  font-weight: 500;
  font-size: 30px;
  line-height: 100%;
}
p{
    color: gray;
    font-weight: 400;
    font-size: 24px;
    font-family: RegularFont;
}
.learn{
    font-family: RegularFont;
    font-weight: 400;
    font-size: 24px;
    line-height: 100%;
    color: #FF7235;
    
}
.logo-text{
    font-family: RegularFont;
    font-weight: 500;
    font-size: 23px;
    line-height: 21.85px;
    padding-left: 10px;
}
.shadow-title{
    font-family: RegularFont;
    font-weight: 400;
    font-size: 22px;
    line-height: 35.57px;
    color: gray;
}
.hero{
    height: 850px;
    width: 1200px;
}

  .header-container {
    width: 1200px;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
  }
  .header-logo{
    width: 40px;
    height: 40px;
    left: 165px;
    top: 61px;
    display: flex;
    align-items: center;
  }
  .header{
    width: 1200px;
    block-size: auto;
    padding-top: 50px;
    padding-bottom: 100px;
  }
  .promo-header{
    width: 100%;
    background-color: darkorange;
    margin-bottom: -5px;
  }
  .graph {
    width: 1200px;
    padding-top: 100px;
    display: block;
  margin-left: auto;
  margin-right: auto;
  }
  .hero-blocks{
    display: flex;
  }
  .blocks{
    display: flex;
    justify-content: space-between;
  }
.header-nav{
    display: flex;
    align-items: center;
}
.nav-bar{
    font-family: RegularFont;
    font-weight: 400;
    font-size: 18px;
    line-height: 17.1px;
    color: black;

}
.social-proof{
    width: 1200px;
    display: flex;
    justify-content: space-between;
    background-color: white;
    padding-bottom: 50px;
    padding-top: 75px;
    margin-left: auto;
    margin-right: auto;
}
.container {
    width: 1200px;
    display: flex;
    align-items: center;
    height: 900px;
}
.product-container{
  box-sizing: border-box;
}
.cards{
  content: "";
  display: table;
  clear: both;
}
.card-text{
  font-weight: 400;
  font-size: 14px;
  line-height: 23px;
  font-family: RegularFont;
}
.column{
  float: left;
  width: 25%;
  padding: 0 10px;
}
.card-object{
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
  padding: 16px;
  text-align: center;
  background-color: #f1f1f1;
  position: relative;
  top: 0;
  left: 0;
  border-radius: 12px;
  height: 350px;
  width: 300px;
}
.image1 {
  position: relative;
  top: 0;
  left: 0;
  padding-top: 50px;
}
.image2 {
  position: absolute;
  top: 35px;
  left: 155px;
  padding-top: 50px;
}
.footer{
  width: 1200px;
  height: 800px;
}
ul{
  list-style: none;
  padding-left:0
}
.footer-top{
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
}
.footer-titles{
  margin-top: -3px;
}
.footer-text{
  font-family: RegularFont;
  font-weight: 550;
  font-size: 18px;
  line-height: 29px;
}
.footer-bottom{
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  padding-top: 50px;
}
.email{
  box-sizing: border-box;
  padding: 20px;
}
button{
  background-color: #FF7235;
  color: #f1f1f1;
  border: none;
}
.plan-container {
  width: 1200px;
  display: inline;
  align-items: center;
  height: 900px;
}
.plan-column{
  float: left;
  width: 25%;
  padding: 0 10px;
}