*{
    box-sizing: border-box;
}

body {
	background-image: url("https://wallpapercrafter.com/sizes/1920x1080/5977-car-white-parking-cars-4k.jpg");
	background-size: cover;
	background-attachment: fixed;
	background-repeat: no-repeat;
}