@import url('https://fonts.googleapis.com/css2?family=Teko&display=swap');

body {
  margin: 0 auto;
  font-family: 'Teko', sans-serif;
  color: black;
  box-sizing: border-box;
  background-image: linear-gradient(to right top, #ffb100, #f97732, #db434c, #a91f5b, #6b155c);
  background-size: contain;
  background-repeat: no-repeat;
  background-attachment: fixed;
}