@import url('https://fonts.googleapis.com/css2?family=Josefin+Sans&display=swap');

body {
    background-image: linear-gradient(to left top, #f0f0f0, #c8c8ca, #a2a2a6, #7d7e83, #595b62, #47484f, #36363d, #26252c, #201d22, #191618, #100d0e, #000000);
    background-repeat: no-repeat;
    background-size: contain;
    background-attachment: fixed;
    font-family: 'Josefin Sans', sans-serif;
    color: white;
    margin: 0 auto;
}