@import './base.css';

#app {
  max-width: 1280px;
  margin: 0 auto;
  padding: 20px 0;
  font-weight: normal;
}

body {
  background-image: linear-gradient(to top, #ff9e53, #f6b14b, #e8c54a, #d5d754, #bee968, #a5ec7b, #8ced8f, #73eea3, #62e0ad, #5bd1b2, #5dc1b2, #66b1ad);
}

a,
.page-heading {
  text-decoration: none;
  color: rgb(0, 0, 0);
  transition: 0.4s;
}

@media (hover: hover) {
  a:hover {
    background-color: hsla(0, 0%, 100%, 0.6);
  }
}

@media (min-width: 1024px) {
  body {
    display: flex;
    place-items: center;
  }

  #app {
    display: grid;
    grid-template-columns: 1fr 1fr;
    padding: 0 2rem;
  }
}
