
.LocationBlock {
    display: flex;
    flex-wrap: wrap;
    gap: 30px;
    justify-content: center;
}

.location-name {
    background: #1e2127;
    padding: 15px;
    min-width: 180px;
    height: 60px;
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 50px;
    font-size: 30px;
    font-family: 'Caveat', cursive;

}