body {
  margin: 0 auto;
}
h1{
  font-family: 'Poppins';
  font-style: normal;
  font-weight: 250;
  font-size: 96px;
  line-height: 90px;
  text-align: center;
  color: #4F4F4F;
  margin-top: 25px;
}
h3{
  font-family: 'Poppins';
  font-style: normal;
  font-weight: 900;
  font-size: 64px;
  line-height: 90px;
  text-align: center;
  color: #6D91EE;
}
h4{
  font-family: 'Poppins';
  font-style: normal;
  font-weight: 900;
  font-size: 64px;
  line-height: 90px;
  color: #FFFFFF;
  text-shadow: 0px 4px 20px rgba(0, 0, 0, 0.15);
  margin-bottom: 30px;
}
p{
  font-family: 'Poppins';
  font-style: normal;
  font-weight: 600;
  font-size: 18px;
  line-height: 26px;
  text-align: center;
}
.hero{
  background-image: url("./assets/images/HeroBackground.svg");
  margin: 0 auto;
  width: 100%;
  background-repeat: no-repeat;
}
.container{
  width: 1200px;
  margin: 0 auto;
}
.card-container{
  padding: 15px;
}
.about-container{
  width: 1200px;
  margin: 0 auto;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.title-logo{
  display: flex;
  justify-items: center;
  justify-content: center;
  padding-top: 100px;
}
.experts-button{
  width: 170px;
  height: 50px;
  background: #6D91EE;
  border-radius: 20px;
  margin-top: 150px;
  position: relative;
}
.experts-button-text{
  margin-top: 158px;
  color: white;
  position: absolute;
  font-family: 'Poppins';
  font-style: normal;
  font-weight: 500;
  font-size: 24px;
  line-height: 36px;
}
.experts{
  display: flex;
  justify-items: center;
  justify-content: center; 
}
.help-button{
  width: 280px;
  height: 86px;
  background: #5180F7;
  border-radius: 71px;
  position: relative;
}
.help-button-text{
  font-family: 'Poppins';
  font-style: normal;
  font-weight: 700;
  font-size: 24px;
  line-height: 36px;
  text-align: center;
  color: #FFFFFF;
  position: absolute;
  margin-top: 25px;
}
.about{
  background: url("./assets/images/Vector\ 8.svg"), url("./assets/images/Rectangle 262.svg");
  background-position: top right, top left;
  background-repeat:no-repeat, repeat-x, repeat-y;
  margin: 0 auto;
  width: 100%;
}
.card{
  width: 385px;
  height: 504px;
  background: #FFFFFF;
  box-shadow: 0px 10px 30px rgba(16, 51, 30, 0.1);
  border-radius: 30px;
  padding: auto;
}
.card-span{
  font-family: 'Poppins';
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 20px;
}
.card-layout{
  display: flex;
  justify-items: center;
  justify-content: center;
  gap: 40px;
}
.card-title{
  font-family: 'Poppins';
  font-style: normal;
  font-weight: 900;
  font-size: 16px;
  line-height: 24px;
}