@import url('https://fonts.googleapis.com/css2?family=Creepster&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Abel&family=Bebas+Neue&display=swap');
body {
  margin: 0 auto;
}

h1 {
  text-align: center;
  color: white;
  font-family: 'Creepster', cursive;
  font-size: 120px !important;
}

a, a:hover, a:visited {
  color: white !important;
  text-decoration: none !important;
  font-size: 30px;
  font-family: 'Bebas Neue', cursive;
}

#logTA {
  display: none;
}

.card-container {
  font-family: 'Abel', sans-serif;
  background: rgba(39, 43, 51, 1);
  color: white;
  grid-template-columns: repeat(3, 1fr);
  align-items: center;
  justify-content: center;
}

.card-container div {
  color: white;
  background-color: rgb(61, 67, 78);
  border-radius: 20px;
  overflow: hidden;
}

.card-container {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-gap: 20px;
  text-align: center;
}
.btn{
  width: 100%;
}

.btn__load-more-btn{
  width: 200px;
  height: 60px;
  margin-top: 20px;
  border-radius: 20px;
  background-color: rgb(20, 20, 39);
  color: white;
  border: none;
}

.dot {
  width: 10px;
  height: 10px;
  border-radius: 50%;
  display: inline-block;
  margin-right: 10px;
  box-shadow: 0 0 10px rgb(137, 135, 255);
}
.dot--alive {
  background-color: green !important;
  // box-shadow: 0 0 10px green;
}
.dot--dead {
  background-color: red !important;
  // box-shadow: 0 0 10px red;
}
.dot--unknown {
  background-color: orange !important;
  // box-shadow: 0 0 10px orange;
}

.status-container {
  display: flex;
  align-items: baseline;
  justify-content: center;
  flex: 1;
}

@media (min-width: 1024px) {
  .card-container {
    grid-template-columns: repeat(3, 1fr);
  }
}

@media (min-width: 768px) and (max-width: 1023px) {
  .card-container {
    grid-template-columns: repeat(2, 1fr);
  }
}

@media (max-width: 767px) {
  .card-container {
    grid-template-columns: 1fr;
  }
}
